#app {
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: start;
    height: 100vh;
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: #fff;
    max-width: 1200px;
    margin: 0 auto;
}

.patient-search {
    width: 100%;

    .patient-search-results {
        ol {
            list-style: none;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            min-height: 5rem;
            cursor: pointer;
            padding-left: 100px;
            padding-right: 100px;
            vertical-align: middle;
            font-size: 1.8rem;
            border-top: 1px solid #ccc;
            border-bottom: 1px solid #ccc;

            .patient-email {
                color: #999;
            }
        }

        li:hover {
            background-color: #f8f8f8;
        }
    }
}

.patient-search-form {
    display: flex;
    gap: 1rem;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: #eee;

    input {
        width: 80%;
        font-size: 1.2rem;
        padding: 1rem;
        border-radius: 0.25rem;
        border: none;
    }

    button {
        width: 20%;
        font-size: 1.8rem;
        background-color: #6870cb;
        color: white;
        border-radius: 0.5rem;
        border: none;
    }
}